body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    color: #F9FAF8;
    font-weight: bolder;
}

h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937
}

h3{
    font-size: 26px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer{
    display: flex;
    padding: 20px 150px;  
    background-color: #1F2937;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.footer{
    justify-content: center;
    color: white;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.introduction{
    display: flex;
    padding: 80px 150px 100px;
    background-color: #1F2937;
    justify-content: center;
    gap: 100px;
}

.introduction div{
    width: 450px;
}

.introduction .right{
    display: flex;
    background-color: #acafb360;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign-up-bt{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 6px 24px;
    border-radius: 5px;
    border: 0;

}
.info-section{
    padding: 50px;
    text-align: center;
}

.info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p{
    color: #1F2937;
}

.info-img{
    width: 150px;
    height: 150px;

    border: #3882F6;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 150px 200px;
    color: #1F2937;
}

.quote{
    font-size: 36px;
    font-style: italic;
}

.author{
    font-weight: bolder;
    font-size: 24px;
    text-align: right;
}

.sign-up-section{
    margin: 100px;
    padding: 30px 50px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sign-up-section .sign-up-bt{
    border-width: 2px;
    border-style: solid;
    border-color: white;    
}

.sign-up-text p{
    margin: 0;
    padding: 0;
}

